<hr />
<footer>
<div style="font-size:12px;line-height:20px;padding-left:10%;">
	Power By NodeJS，本站所有代码的地址在<a href="#" target="_blank">这里</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	©2014 <a href="http://www.2ives.com/" target="_blank">microblog</a> 
    
 </div>
</footer>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>